@import "tailwindcss";

@theme {
  --color-ldna-bg: #050505;
  --color-ldna-panel: #101010;
  --color-ldna-grid: #1E1E1E;
  --color-ldna-text: #F4F4F4;
  --color-ldna-muted: #999999;
  --color-ldna-accent: #FF571A;
  --color-ldna-warning: #FFE41A;
  --color-ldna-navy: #0A122A;

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  body {
    @apply bg-ldna-bg text-ldna-text font-sans antialiased min-h-screen selection:bg-ldna-accent selection:text-white;
  }
}

.bg-dot-grid {
  background-image: radial-gradient(var(--color-ldna-grid) 1px, transparent 1px);
  background-size: 40px 40px;
}
